body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a {
    color: rgb(35, 209 ,211);
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}


#content{
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}


#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

/* for the style for date in the date and author */

p.date {
    color: #ccc;
    font-family: Georgia,  serif;
    font-size: 12px;
    font-style: italic;
}

.pagination{
    margin: 40px 0;
    font-weight: bold;
}

input[type=submit] {
    font-weight: bold;
    background: #2caa80;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}